<h2 class="ui dividing header">Log In</h2>

<%= form_tag login_path, class: "ui form" do %>
    <div class="five wide field">
      <%= label_tag :email %>
      <%= text_field_tag :'user[email]' %>
    </div>
    <div class="five wide field">
      <%= label_tag :password %>
      <%= password_field_tag :'user[password]' %>
    </div>
    <%= submit_tag "Sign In", class: "ui green button" %>
    <%= link_to('<i class="facebook icon"></i> Log in Facebook!'.html_safe, '/auth/facebook', class: "ui facebook button") %>
<% end %>

