<div class="card">
  <%= link_to image_tag("http://gravatar.com/avatar/#{user.gravatar_hash}?s=300"), user_path(user), class: "image" %>
  <div class="content">
    <div class="header"><%= user.name %></div>
    <div class="meta">
      <%= current_user.following?(user) ? "You Follow" : "You currently don't follow" %>
    </div>
    <div class="description">
      <%= user.name %> has <%= pluralize(user.playlists.count, "playlist") %>.
    </div>
  </div>
  <div class="extra content" style="min-height: 50.17px !important">
    <span class="right floated">
      Joined in <%= user.created_at.year %>
    </span>
    <% if current_user.following?(user) %>
        <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
                     html: {method: :delete}) do |f| %>
            <%= f.hidden_field :unfollow_user_id, :value => user.id %>
            <%= f.submit "Unfollow", class: "mini ui button" %><br>
        <% end %>
    <% elsif current_user.id != user.id %>
        <%= form_for(current_user.active_relationships.build) do |f| %>
            <div><%= hidden_field_tag :followed_id, user.id %></div>
            <%= f.submit "Follow", class: "mini ui button" %><br>
        <% end %>
    <% end %>
  </div>
</div>