<h1>Welcome</h1><br>
<%if @user.id == current_user.id%>
  <%=link_to "Edit Your Profile", edit_user_path(@user)%><br>
<%else%>
  <h2>Here there will be a link to follow</h2>
  <%end%><br>

  <% @user%>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
