<%= form_for :playlist, url: add_songs_to_playlist_path, html: {class: "ui form"} do |f| %>
    <table class="ui teal table">
      <thead>
      <tr>
        <th class="one wide">Select</th>
        <th class="three wide">Title</th>
        <th class="three wide">Artist</th>
        <th>Playlists</th>
      </tr>
      </thead>
      <tbody>
      <% songs.each do |song| %>
          <tr>
            <td class="center aligned">
              <input type="checkbox" name="playlist[song_ids][]" value="<%= song.id %>">
            </td>
            <td><%= link_to song.title, song_path(song) %></td>
            <td><%= link_to song.artist.name, artist_path(song.artist) %></td>
            <td>
             <% color = ["red", "orange", "yellow", "olive", "green", "teal", "blue", "violet", "purple", "pink", "brown", "grey", "black"] %>
              <% song.playlists.each do |playlist| %>
                <%= link_to playlist.name, playlist_path(playlist), class: "ui #{color.sample} tag label" %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="three wide field">
      <%= f.label :id, "Playlist" %>
      <%= f.collection_select :id, current_user_playlists, :id, :name, prompt: true %>
    </div>
    <p><%= submit_tag "Add to selected Playlist", class: "ui teal button" %></p>
<% end %>