  <div class="event">
    <div class="content">
      <div class="summary">
        <% if activity.trackable.try(:name) %>
            <%= link_to activity.owner.name, activity.owner if activity.owner %>
            created
            <%= link_to activity.trackable.name, activity.trackable %>
            <div class="meta">
              <a class="like" href="/playlists/<%= activity.trackable.id %>/likes">
                <i class="like icon"></i> <%= activity.trackable.likes.count %> likes
              </a>
            </div>
            <div class="date">
              <%= activity.created_at.to_date %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
