<!DOCTYPE html>
<html>
  <head>
    <title>FlatironPlaylist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.ui.checkbox')
                .checkbox()
            ;

            $('select.dropdown')
                .dropdown()
            ;
        })
    </script>
  </head>

  <body>
    <header>
      <%= render "header" %>
    </header>
    <div class="ui main segment" id="main">
      <% if flash[:messages] %>
          <div class="ui error message">
            <div class="header">
              There were some errors with your submission
            </div>
            <ul>
              <% flash[:messages].each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
